<mat-toolbar color="primary">
  Registro
</mat-toolbar>
<main>
<mat-card>
  <mat-card-content>
    <form  [formGroup]="registerForm">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          Favor de ingresar el Email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          Favor de ingresar la Contraseña
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="register(registerForm.value)">Registro</button>
      <a mat-button href="/login">Login</a>
    </form>
  </mat-card-content>
</mat-card>
</main>
